__pycache__/
*.py[cod]
.DS_Store
example_scripts/*.ujson
example_scripts/*.txt
docs/build/
docs/source/code_inc
docs/source/example_scripts.rst
.eggs
.idea
.coverage
.tox
tests/integrationtests/test_t1.txt
tests/integrationtests/test.txt.ujson
tests/data/test_node_data/test.txt.ujson
tests/data/**/*.ujson
# tests/data/test_node_v*
BSA1.canno
BSA1.cnlcp
BSA1.csarr
BSA1.cseq
BSA1.fasta.1.pepindex
BSA1.fasta.2.pepindex
BSA1.fasta.phr
BSA1.fasta.pin
BSA1.fasta.psq
BSA1.mzML.ujson
.vscode/
_playground/
_notebooks_/